<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新型冠状病毒人数实时查询器</title>
    <style>
        .input_cities {
            background: #3c763d;
            color: yellow;
            margin: 200px;
            padding: 200px;
        }
    </style>
</head>
<body>
<div class="input_cities">
    <form action="/virusSpider" method="post">
        <div class="input_city"></div>
        <input type="radio" name="genre" value="1" checked>城市查询
        <input type="radio" name="genre" value="2">省份查询
        <input type="radio" name="genre" value="3">其他国家查询<br>
        <strong>输入你要查询的地名：</strong>
        <input type="text" name="city"><br>
        <input type="submit">
    </form>
</div>


</body>
</html>