<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>章节页</title>
    <script>
        function f(id) {
            content_id = document.getElementById(id).value;
            console.log(content_id);
            var a = document.createElement('a');
            a.setAttribute('href', '/NovelContentSpider?content_id=' + content_id);
            a.setAttribute('target','_blank');
            document.body.append(a);
            a.click()
        }
    </script>
</head>
<body>
{% for i in chapter %}
    <dd>
        <a onclick="f({{ loop.index }})"><strong>{{ i }}</strong></a><br>
        <input hidden id="{{ loop.index }}" value={{ href[loop.index0] }}></input>

    </dd>
{% endfor %}

</body>
</html>