<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <title>小说正文_孟帅阅读器</title>
</head>
<body>
<div id="wrapper">

    <div class="box_con">
        <div class="con_top">

            <div style="text-align: center">
                <div id="content">
                    {% for i in text %}
                    <dd>{{ i }}</dd>
                    {%  endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>

