<!DOCTYPE html>
<html lang="en">
<head>
    <p hidden>coder:Mengshuai</p>
    <p hidden>2020/02/12</p>
    <p hidden>瞎几把乱写</p>
    <meta charset="UTF-8">
    <title>自娱自乐</title>
    <style>
        .index {
            text-align: center;
            background: yellow;
        }
        .down {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="index">
    <h2><p style="color: red"><strong>功能选择</strong></p></h2>
    <p><a href="/virus_index" id="virus_1"><strong>冠状病毒感染人数查询</strong></a><br></p>

    <p><a href="/novels_index" id="novel_1"><strong>小说阅读</strong></a></p>
</div>
<div class="down">
    <p>闲在家里无事做，写个网站来娱乐-----孟帅</p>
</div>

</body>
</html>